<h2 id="title">Ember Spreadsheet Demo</h2>

<p> Without automatic import </p>
{{ember-spreadsheet workbooks=workbooks1 afterImport="afterImport" automaticImport=false}}

<pre id="out">{{jsonOut1}}</pre>

<p> With automatic import </p>
{{ember-spreadsheet workbooks=workbooks2 afterImport="afterImport" automaticImport=true}}

<pre id="out">{{jsonOut2}}</pre>
